/*Matthew Lewis
Advanced Visual Frameworks Term 1308
Android css file*/


h1 {
    font-size:36px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

#instagram {
    display:block;
    text-align:center;
}
